In [1]:
import requests
import pandas as pd
import os
from pathlib import Path
import numpy as np

In [2]:
baseurl = "https://api.wikiwho.net/en/api/v1.0.0-beta/"
content = "Mama's_Family"
def _url(url, path):
    return url + path
revisions_url = _url( baseurl,"rev_ids/")
mama_revisions_url = _url(revisions_url, content+"/")
params = {"editor": "true", "timestamp": "true"}
response = requests.get(mama_revisions_url, params= params)

In [3]:
response.url

"https://api.wikiwho.net/en/api/v1.0.0-beta/rev_ids/Mama's_Family/?editor=true&timestamp=true"

In [4]:
revisons = pd.DataFrame(response.json()["revisions"])
revisons_list = response.json()["revisions"]

In [5]:
len(revisons_list)

2547

In [6]:
revisons_list[:30]

[{'timestamp': '2004-04-24T07:40:27Z',
  'id': 3317807,
  'editor': '0|172.194.5.181'},
 {'timestamp': '2004-04-24T07:49:11Z',
  'id': 3317866,
  'editor': '0|172.194.5.181'},
 {'timestamp': '2004-04-24T07:58:03Z', 'id': 3317921, 'editor': '41723'},
 {'timestamp': '2004-04-24T08:09:12Z', 'id': 3317993, 'editor': '44476'},
 {'timestamp': '2004-04-24T08:21:07Z', 'id': 3493274, 'editor': '41723'},
 {'timestamp': '2004-05-08T01:09:23Z', 'id': 3505327, 'editor': '37168'},
 {'timestamp': '2004-05-09T01:36:17Z',
  'id': 3612711,
  'editor': '0|65.164.16.179'},
 {'timestamp': '2004-05-17T03:21:05Z', 'id': 3678751, 'editor': '65491'},
 {'timestamp': '2004-05-21T21:22:27Z', 'id': 4475074, 'editor': '1591'},
 {'timestamp': '2004-07-06T18:00:40Z', 'id': 4535771, 'editor': '71081'},
 {'timestamp': '2004-07-09T22:44:48Z', 'id': 4543295, 'editor': '8551'},
 {'timestamp': '2004-07-10T12:35:17Z', 'id': 4543880, 'editor': '71081'},
 {'timestamp': '2004-07-10T13:46:11Z', 'id': 4632244, 'editor': '71081'},
 {'timestamp': '2004-07-14T15:54:19Z', 'id': 4632253, 'editor': '71825'},
 {'timestamp': '2004-07-14T15:54:52Z', 'id': 4730543, 'editor': '71825'},
 {'timestamp': '2004-07-19T18:43:33Z', 'id': 4730786, 'editor': '74099'},
 {'timestamp': '2004-07-19T19:01:18Z', 'id': 4732892, 'editor': '74099'},
 {'timestamp': '2004-07-19T21:08:04Z', 'id': 4732946, 'editor': '46736'},
 {'timestamp': '2004-07-19T21:12:31Z', 'id': 4920528, 'editor': '46736'},
 {'timestamp': '2004-07-30T17:13:20Z', 'id': 4920538, 'editor': '74099'},
 {'timestamp': '2004-07-30T17:14:02Z', 'id': 5935788, 'editor': '74099'},
 {'timestamp': '2004-09-17T02:03:39Z',
  'id': 7474728,
  'editor': '0|65.164.16.40'},
 {'timestamp': '2004-11-15T03:41:14Z',
  'id': 7693642,
  'editor': '0|208.17.68.163'},
 {'timestamp': '2004-11-20T19:15:31Z',
  'id': 8688306,
  'editor': '0|137.122.75.78'},
 {'timestamp': '2004-12-21T20:33:35Z',
  'id': 8859846,
  'editor': '0|170.35.224.64'},
 {'timestamp': '2004-12-27T17:14:33Z', 'id': 9325214, 'editor': '74041'},
 {'timestamp': '2005-01-13T00:48:20Z',
  'id': 9325301,
  'editor': '0|166.102.99.84'},
 {'timestamp': '2005-01-13T00:51:21Z',
  'id': 9325328,
  'editor': '0|166.102.99.84'},
 {'timestamp': '2005-01-13T00:52:07Z',
  'id': 9456685,
  'editor': '0|166.102.99.84'},
 {'timestamp': '2005-01-18T12:57:50Z',
  'id': 9530283,
  'editor': '0|66.129.4.10'}]

In [7]:
revisons["id"].size

2547

In [8]:
rev_content_url = _url(baseurl,"rev_content/")
mama_rev_content_url = _url(rev_content_url, content+"/")
filename = content + ".h5"

In [9]:
all_content_ul = _url(baseurl, "all_content/" )
mama_all_content_url = _url(all_content_ul, content +"/")
params = { "o_rev_id": "true", "editor": "false", "token_id": "true", "in": "true", "out": "true" }
all_rev_data = requests.get(mama_all_content_url, params= params)

In [10]:
all_tokens_mama = all_rev_data.json()["all_tokens"]

In [11]:
all_tokens_mama[:10]

[{'o_rev_id': 3317807, 'in': [], 'token_id': 0, 'str': 'an', 'out': [3317921]},
 {'o_rev_id': 3317807, 'in': [], 'token_id': 1, 'str': '80', 'out': [3317921]},
 {'o_rev_id': 3317807,
  'in': [699956455, 700034288],
  'token_id': 2,
  'str': "'",
  'out': [699956446, 699956679]},
 {'o_rev_id': 3317807,
  'in': [699956455, 700034288],
  'token_id': 3,
  'str': 's',
  'out': [699956446, 699956679]},
 {'o_rev_id': 3317807, 'in': [], 'token_id': 4, 'str': 'u', 'out': [3317921]},
 {'o_rev_id': 3317807, 'in': [], 'token_id': 5, 'str': '.', 'out': [90440194]},
 {'o_rev_id': 3317807, 'in': [], 'token_id': 6, 'str': 's', 'out': [3317921]},
 {'o_rev_id': 3317807, 'in': [], 'token_id': 7, 'str': '.', 'out': [3317921]},
 {'o_rev_id': 3317807,
  'in': [],
  'token_id': 8,
  'str': 'ian',
  'out': [3317921]},
 {'o_rev_id': 3317807,
  'in': [],
  'token_id': 9,
  'str': 'television',
  'out': [3317921]}]

In [12]:
%%time
rev_contents = []
params ={ "o_rev_id": "false", "editor": "false", "token_id": "true","in": "false", "out": "false","string": "false" }
for i in range(15):
    url = _url(mama_rev_content_url, str(revisons.id.tolist()[i]) + "/")
    response = requests.get(url, params= params)
    rev_contents.append(response.json()["revisions"][0][str(revisons.id.tolist()[i])]["tokens"])

CPU times: user 524 ms, sys: 84 ms, total: 608 ms
Wall time: 18.7 s

In [14]:
rev_contents[0]

[{'token_id': 0, 'str': 'an'},
 {'token_id': 1, 'str': '80'},
 {'token_id': 2, 'str': "'"},
 {'token_id': 3, 'str': 's'},
 {'token_id': 4, 'str': 'u'},
 {'token_id': 5, 'str': '.'},
 {'token_id': 6, 'str': 's'},
 {'token_id': 7, 'str': '.'},
 {'token_id': 8, 'str': 'ian'},
 {'token_id': 9, 'str': 'television'},
 {'token_id': 10, 'str': 'show'},
 {'token_id': 11, 'str': 'that'},
 {'token_id': 12, 'str': 'focused'},
 {'token_id': 13, 'str': 'on'},
 {'token_id': 14, 'str': 'the'},
 {'token_id': 15, 'str': 'life'},
 {'token_id': 16, 'str': 'of'},
 {'token_id': 17, 'str': 'thelma'},
 {'token_id': 18, 'str': 'harper'},
 {'token_id': 19, 'str': 'and'},
 {'token_id': 20, 'str': 'the'},
 {'token_id': 21, 'str': 'antics'},
 {'token_id': 22, 'str': 'of'},
 {'token_id': 23, 'str': 'her'},
 {'token_id': 24, 'str': 'family'},
 {'token_id': 25, 'str': '.'},
 {'token_id': 26, 'str': 'it'},
 {'token_id': 27, 'str': 'guest'},
 {'token_id': 28, 'str': 'starred'},
 {'token_id': 29, 'str': 'betty'},
 {'token_id': 30, 'str': 'white'},
 {'token_id': 31, 'str': 'and'},
 {'token_id': 32, 'str': 'rue'},
 {'token_id': 33, 'str': 'mcclanahan'},
 {'token_id': 34, 'str': 'before'},
 {'token_id': 35, 'str': 'their'},
 {'token_id': 36, 'str': 'golden'},
 {'token_id': 37, 'str': 'girls'},
 {'token_id': 38, 'str': 'roles'},
 {'token_id': 39, 'str': '.'},
 {'token_id': 40, 'str': 'the'},
 {'token_id': 41, 'str': 'show'},
 {'token_id': 42, 'str': 'also'},
 {'token_id': 43, 'str': 'let'},
 {'token_id': 44, 'str': 'carrol'},
 {'token_id': 45, 'str': 'burnnet'},
 {'token_id': 46, 'str': 'play'},
 {'token_id': 47, 'str': 'the'},
 {'token_id': 48, 'str': 'role'},
 {'token_id': 49, 'str': 'of'},
 {'token_id': 50, 'str': 'eunice'},
 {'token_id': 51, 'str': '.'},
 {'token_id': 52, 'str': 'in'},
 {'token_id': 53, 'str': 'the'},
 {'token_id': 54, 'str': 'series'},
 {'token_id': 55, 'str': 'finale'},
 {'token_id': 56, 'str': ','},
 {'token_id': 57, 'str': 'all'},
 {'token_id': 58, 'str': 'the'},
 {'token_id': 59, 'str': 'different'},
 {'token_id': 60, 'str': 'family'},
 {'token_id': 61, 'str': 'members'},
 {'token_id': 62, 'str': 'went'},
 {'token_id': 63, 'str': 'their'},
 {'token_id': 64, 'str': 'separate'},
 {'token_id': 65, 'str': 'ways'},
 {'token_id': 66, 'str': '.'},
 {'token_id': 67, 'str': 'vince'},
 {'token_id': 68, 'str': 'and'},
 {'token_id': 69, 'str': 'naomi'},
 {'token_id': 70, 'str': 'moved'},
 {'token_id': 71, 'str': 'out'},
 {'token_id': 72, 'str': '.'},
 {'token_id': 73, 'str': 'bubba'},
 {'token_id': 74, 'str': 'goes'},
 {'token_id': 75, 'str': 'to'},
 {'token_id': 76, 'str': 'college'},
 {'token_id': 77, 'str': '.'},
 {'token_id': 78, 'str': 'thelma'},
 {'token_id': 79, 'str': 'gives'},
 {'token_id': 80, 'str': 'in'},
 {'token_id': 81, 'str': 'to'},
 {'token_id': 82, 'str': 'community'},
 {'token_id': 83, 'str': 'pressure'},
 {'token_id': 84, 'str': 'and'},
 {'token_id': 85, 'str': 'sells'},
 {'token_id': 86, 'str': 'her'},
 {'token_id': 87, 'str': 'house'},
 {'token_id': 88, 'str': 'to'},
 {'token_id': 89, 'str': 'a'},
 {'token_id': 90, 'str': 'developing'},
 {'token_id': 91, 'str': 'company'},
 {'token_id': 92, 'str': 'and'},
 {'token_id': 93, 'str': 'moves'},
 {'token_id': 94, 'str': 'to'},
 {'token_id': 95, 'str': 'a'},
 {'token_id': 96, 'str': 'more'},
 {'token_id': 97, 'str': 'beverly'},
 {'token_id': 98, 'str': 'hills'},
 {'token_id': 99, 'str': '-'},
 {'token_id': 100, 'str': 'like'},
 {'token_id': 101, 'str': 'residence'},
 {'token_id': 102, 'str': '.'},
 {'token_id': 103, 'str': '{{'},
 {'token_id': 104, 'str': 'msg'},
 {'token_id': 105, 'str': ':'},
 {'token_id': 106, 'str': 'stub'},
 {'token_id': 107, 'str': '}}'}]

#### Main cell to calculate the deleted and edited positions

In [22]:
import time
params ={ "o_rev_id": "true", "editor": "false", "token_id": "true","in": "true", "out": "true" }
revisions = list(revisons.head(50)["id"])
with pd.HDFStore(filename, 'a') as store:
    for itr in range(len(revisions)):
        revision = str(revisions[itr])
        url = _url(mama_rev_content_url, revision+"/")
        response = requests.get(url, params= params)
        time.sleep(3)
        if response.status_code == requests.codes.ok :
            df = pd.DataFrame.from_dict(response.json()["revisions"][0][revision]["tokens"])
            df["inserted"] = df["in"].apply(lambda x: int(revision) in  set(x))
            df["inserted"] = np.logical_or( df["inserted"].values, df["o_rev_id"].values == int(revision))
            if(itr < (len(revisions) - 1) ):
                deleted_revision = revisions[itr + 1]
            else :
                deleted_revision = -1
            df["deleted"] = df["out"].apply(lambda x: deleted_revision in  set(x))
            store.put(revision, df, table=True)
        else:
            print(response.json())

/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3317807'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2850: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block2_values] [items->['in', 'out', 'str']]

  if self.run_code(code, result):
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3317866'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3317921'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3317993'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3493274'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3505327'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3612711'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '3678751'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4475074'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4535771'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4543295'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4543880'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4632244'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4632253'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4730543'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4730786'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4732892'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4732946'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4920528'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '4920538'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '5935788'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '7474728'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '7693642'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '8688306'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '8859846'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '9325214'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '9325301'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '9325328'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '9456685'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '9530283'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '10092976'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '10322307'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '10451553'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '10451581'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '10451761'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '10451790'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '12234392'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '12234404'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '12236476'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '12236483'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '12355108'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '12396631'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '13047896'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '13047918'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '13050496'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '13050723'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '13050776'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '13727218'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '15127337'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)
/Users/aadilrasheed/anaconda/lib/python3.6/site-packages/tables/path.py:112: NaturalNameWarning: object name is not a valid Python identifier: '15128604'; it does not match the pattern ``^[a-zA-Z_][a-zA-Z0-9_]*$``; you will not be able to use natural naming to access this object; using ``getattr()`` will still work, though
  NaturalNameWarning)

In [237]:
with pd.HDFStore( filename, 'r') as store1:
    df_3317807 = store1.get("3317807")
    df_3317866 = store1.get("3317866")
    print(df_3317807.head(2))
    print("\n")   
    print(df_3317866.head(2))

   in  o_rev_id        out str  token_id  inserted  deleted
0  []   3317807  [3317921]  an         0      True    False
1  []   3317807  [3317921]  80         1      True    False


   in  o_rev_id        out str  token_id  inserted  deleted
0  []   3317807  [3317921]  an         0     False     True
1  []   3317807  [3317921]  80         1     False     True

In [142]:
inserted_array = np.array(df_3317866["inserted"])
inserted_pos = np.argwhere(inserted_array == True)
inserted_tokens = np.array(df_3317866 ["token_id"])[inserted_pos]

In [ ]:
# inserted_pos = inserted_pos[0].reshape(1,108)
inserted_pos.shape
# inserted_tokens.shape

In [198]:
inserted_token_pos = np.stack((inserted_tokens, inserted_pos), axis = -1)
inserted_token_pos = inserted_token_pos.reshape(inserted_token_pos.shape[0],2)
inserted_token_pos

array([[108,  52],
       [109,  53],
       [110,  54],
       [111,  55],
       [112,  56],
       [113,  57],
       [114, 109],
       [115, 110],
       [116, 111],
       [117, 112],
       [118, 113],
       [119, 114],
       [120, 115],
       [121, 116],
       [122, 117],
       [123, 118],
       [124, 119],
       [125, 120],
       [126, 121],
       [127, 122],
       [128, 123],
       [129, 124],
       [130, 125],
       [131, 126],
       [132, 127],
       [133, 128],
       [134, 129],
       [135, 130],
       [136, 131],
       [137, 132],
       [138, 133],
       [139, 134],
       [140, 135],
       [141, 136],
       [142, 137],
       [143, 138],
       [144, 139],
       [145, 140],
       [146, 141],
       [147, 142],
       [148, 143],
       [149, 144],
       [150, 145],
       [151, 146],
       [152, 147],
       [153, 148],
       [154, 149],
       [155, 150],
       [156, 151],
       [157, 152],
       [158, 153],
       [159, 154],
       [160, 155]])

### To cluster elements using position of there relative position in doc

In [155]:
from sklearn.cluster import DBSCAN

In [224]:
db = DBSCAN(eps=5, min_samples=1, p=1).fit(inserted_pos)
a = db.fit_predict(inserted_pos)
db.components_

array([[ 52],
       [ 53],
       [ 54],
       [ 55],
       [ 56],
       [ 57],
       [109],
       [110],
       [111],
       [112],
       [113],
       [114],
       [115],
       [116],
       [117],
       [118],
       [119],
       [120],
       [121],
       [122],
       [123],
       [124],
       [125],
       [126],
       [127],
       [128],
       [129],
       [130],
       [131],
       [132],
       [133],
       [134],
       [135],
       [136],
       [137],
       [138],
       [139],
       [140],
       [141],
       [142],
       [143],
       [144],
       [145],
       [146],
       [147],
       [148],
       [149],
       [150],
       [151],
       [152],
       [153],
       [154],
       [155]])

In [225]:
unique_clusters = set(db.labels_) - {-1}

{0, 1}

In [23]:
ls

Mama's_Family.h5                  wikiwho.ipynb
README.md                         wikiwho_context_clustering.ipynb
mama_700034288.h5                 wikiwho_neighbour.ipynb
test.h5

In [20]:
# rm Mama*